{% extends "GistTemplateBundle::base.html.twig" %}
{% import "GistTemplateBundle::form.html.twig" as form_tools %}
{% block content %}
<div class="page-content">

        <br>
    <div class="row" style="margin-right: 0px !important;">
        <div class="col-md-2" style="padding-right: 1px !important;">
        	<div class="portlet box blue-hoki" style="background-color: #2D2D2D;">
                <div class="portlet-title">
                    <div class="caption">Product Categories</div>
                </div>
                <div class="portlet-body form" id="prod_cats" style="background-color: #2D2D2D;">
                	<br>
                    <button class="btn btn-lg btn-block" style="background-color: #556E93; color: #ffffff;">...</button>
                </div>
            </div>
        </div>
        <div class="col-md-7" style="padding-right: 1px !important; padding-left: 0px !important;">
        	<div class="portlet box blue-hoki">
                <div class="portlet-title">
                    <div class="caption">Products</div>
                </div>
                <div class="portlet-body form">
                	<br>
                    <div  style="overflow:scroll; height:440px; overflow-x: hidden;">
                	<div class="row" id="prods">
                		
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3" style="padding-left: 1px !important; padding-right: 0px !important;">
        	<div class="portlet box blue-hoki" style="background-color: #ffffff;">
                <div class="portlet-title">
                    <div class="caption">Cart</div>
                </div>
                <div class="portlet-body form">
                <div style="overflow:scroll; height:400px; overflow-x: hidden;">
                <table class="table table-striped table-bordered table-hover" style="margin-top: 20px;" id="list_table">
                    <thead>
                        <tr>
                            <th width="50%">Item</th>
                            <th>Price</th>
                            <th width="25%"></th>
                        </tr>
                    </thead>
                    <tbody id="cart_items">

                    </tbody>
                </table>
                </div>
                <input type="hidden" id="cart_min_price" name="cart_min_price" value="0">
                <h3>Total: <b>Php <span id="cart_price" value="0">0</span></b></h3>
                    
                </div>
            </div>
        </div>
    </div>

</div>

<div id="item_adjustment" class="modal fade" tabindex="-2" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" action="">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 id="form_title" class="modal-title">Item Price Adjustment Form</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row form-horizontal form">
                            
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a class="btn default green add-ig-field" data-dismiss="modal" style="margin=0" href="javascript:void(0)">Apply</a>
                        <button type="button" data-dismiss="modal" class="btn default" data-toggle="modal" href="#ledger_entries_form">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script>
function addToCart(product_name, srp, min_price, id)
{
    var field = '<tr>';     
        // field += '<input type="hidden" name="item_id[]" value="'+item_id+'">';
        field += '<input type=\"hidden\" name=\"product_id[]\" value=\"'+id+'\" >';
        field += '<input type=\"hidden\" name=\"min_price[]\" class=\"min_price\" value=\"'+min_price+'\" >';
        field += '<input type=\"hidden\" name=\"srp[]\" class=\"srp\" value=\"'+srp+'\" >';
        field += '<td><input type="text" style=\"font-size: 10px !important;\" value="'+product_name+'" readonly="true" class="form-control item_name"></td>';
        field += '<td><input type="text" style=\"font-size: 10px !important;\" name="display_price[]" class="form-control srp" readonly="true" value="'+srp+'"></td>'; 
        //field += '<td><input type="number" name="qty" class="form-control qty" min="1" value="1"></td>';    
        field += '<td><a href="javascript:void(0)" class="btn btn-xs default red remove_row"><i class="fa fa-times" aria-hidden="true"></i></a><a href="javascript:void(0)" class="btn btn-xs default green indiv_adj"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>'; 
        field += '</tr>';

        $('#cart_items').prepend(field);
        computeCart();
        computeCartMinimum();
}
function computeCart()
{
    var total = 0;
    $('.srp').each(function(){
        total = total + parseInt($(this).val());
    });

    $("#cart_price").text(addCommas(total.toString()));
}
function computeCartMinimum()
{
    var total = 0;
    $('.min_price').each(function(){
        total = total + parseInt($(this).val());
    });

    $("#cart_min_price").val(addCommas(total.toString()));
}
function ajaxGetProductCategories()
{
    $( "#prod_cats" ).empty();

    var url = "http://dev.gisterp2/inventory/pos/get/product_categories";
    $.getJSON(url, function(json){  
       $.each(json, function(i, item) {
            // alert(item.name);
            $("#prod_cats").append("<button class=\"btn btn-md btn-block\" onclick=\"ajaxGetProducts("+item.id+")\" style=\"background-color: #556E93; color: #ffffff;\">"+item.name+"</button>");
        });
    });
}
function ajaxGetProducts(cid)
{

    $( "#prods" ).empty();
    $("#prods").append("<div class=\"col-md-12\"><h2>Loading products...</h2></div>");

    
    var url = "http://dev.gisterp2/inventory/pos/get/products/"+cid;
    $.getJSON(url, function(json){  
        $( "#prods" ).empty();
        var count = 0;
       $.each(json, function(i, item) {
        count++;
        var price = 0;
        if (item.srp != null) {
            price = item.srp;
        } 

        var img = "http://nahmdong.com/vitalhill/img/default.png";
        if (item.image_url != null) {
            img = item.image_url;
        }

            $("#prods").append("<div class=\"col-md-3\" style=\"margin: 0px !important; padding: 2px !important\" >\
                    <a href=\"#\" style=\"text-decoration: none;\" onclick=\"addToCart('"+item.name+"',"+price+","+item.min_price+","+item.id+")\">\
                    <div class=\"thumbnail\" style=\"margin: 0px !important\">\
                        <img src="+img+" style=\"height: 150px; width: 80%; display: block;\">\
                        <div class=\"caption\" style=\"font-size: 12px !important; text-overflow: ellipsis !important; white-space: nowrap; overflow: hidden;\">\
                            <h3 style=\"font-size: 12px !important; margin: 0!important; text-overflow: ellipsis !important; white-space: nowrap; overflow: hidden;\">"+item.name+"</h3>\
                            <h3 style=\"font-size: 12px !important; margin: 0!important;\"><b>PHP "+price+"</b></h3>\
                        </div>\
                    </div>\
                    </a>\
                </div>");

        });

       if (count == 0) {
            $( "#prods" ).empty();
            $("#prods").append("<div class=\"col-md-12\"><h2>No products in selected category</h2></div>");
       }
    });
}
function addCommas(nStr)
{
    nStr += '';
    x = nStr.split('.');
    x1 = x[0];
    x2 = x.length > 1 ? '.' + x[1] : '';
    var rgx = /(\d+)(\d{3})/;
    while (rgx.test(x1)) {
        x1 = x1.replace(rgx, '$1' + ',' + '$2');
    }
    return x1 + x2;
}
$(document).ready(function(){
    ajaxGetProductCategories();

    $(document).on("click",".remove_row", function(e){
            e.preventDefault();            
            var tr = $(this).closest('tr');
            tr.remove();
            computeCart();
            computeCartMinimum();
            return false;
        });


    $("#prods").append("<div class=\"col-md-12\"><h2>Select a product category</h2></div>");

    $(document).on("click",".indiv_adj", function(e){
            $('#item_adjustment').modal('show');
        });
});
</script>
{% endblock %}