{% extends "GistTemplateBundle::base.html.twig" %}
{% import "GistTemplateBundle::form.html.twig" as form_tools %}
{% block content %}
<div class="page-content landing">
    <div class="row">
        <div class="col-md-12">
        <div style="margin-top: 10px;">&nbsp;</div>
        <img src="bundles/gisttemplate/assets/global/img/cosmeti_logo.png" align="middle" style="display: block; margin: 0 auto; width: 280px;">
        </div>
    </div>
    <div style="margin-top: 20px;">&nbsp;</div>
    <div class="row">
        <div class="col-md-3">
        <a href="#">
            <img src="bundles/gisttemplate/assets/global/img/erp_logo.png" align="middle" style="display: block; margin: 0 auto; width: 150px;">
        </a>
        </div>
        <div class="col-md-3">
        <a href="{{path('gist_pos_index')}}">
            <img src="bundles/gisttemplate/assets/global/img/pos_logo.png" align="middle" style="display: block; margin: 0 auto; width: 150px;">
        </a>
        </div>
        <div class="col-md-3">
            <img src="bundles/gisttemplate/assets/global/img/crm_logo.png" align="middle" style="display: block; margin: 0 auto; width: 150px;">
        </div>
        <div class="col-md-3">
        <a href="javascript:void(0)" class="sync_data">
            <img src="bundles/gisttemplate/assets/global/img/sync.png" align="middle" style="display: block; margin: 0 auto; width: 150px;">
        </a>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
function ajaxGetProductCategories()
{
    $( "#prod_cats" ).empty();

    var url = "http://erp.cilanthropist.co/inventory/pos/get/product_categories";
    $.getJSON(url, function(json){  
       $.each(json, function(i, item) {
            // alert(item.name);
            $("#prod_cats").append("<button class=\"btn btn-md btn-block\" onclick=\"ajaxGetProductCategories("+item.id+")\" style=\"background-color: #556E93; color: #ffffff;\">"+item.name+"</button>");
        });
    });
}
function ajaxGetProductCategories(cid)
{
    
    var url = "http://erp.cilanthropist.co/inventory/pos/get/products/{ cid: ':cid'}";
    url = url.replace(":cid", cid);
    $.getJSON(url, function(json){  
       $.each(json, function(i, item) {
            alert(item.name);

        });
    });
}
$(document).ready(function(){
    ajaxGetProductCategories();

    $(document).on("click",".sync_data", function(e){
        var route = "{{ path('gist_main_sync_pos_data')|escape('js') }}";
        $.getJSON(route, function(json){  
           $.each(json, function(i, x) {
                swal('POS Data Synced!','POS Transactions sent to ERP','success');
            });
        });
    });
});
</script>
{% endblock %}