<!-- BEGIN FORM-->
<div class="row">
    <div class="col-12 col-md-5">
        <div class="row">
            {{ form.group_date_range_v1('daterange', 'Date Ranged', 'date_from', 'date_to', '01/01/2018', '12/31/2018', 4, 7) }}
            {{ form.group_text_v1('Receipt Number', 'receipt_number', '', 4, 7, false) }}
        </div>
    </div>
    <div class="col-md-2 d-none d-md-block"></div>
    <div class="col-12 col-md-5">
        <div class="row">
            <div class="col-12">
                {{ form.group_select_pos('Type', 'transaction_mode', modes, mode|default(''), 4, 7) }}
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-right">
                <div class="d-inline-block">
                    <button id="clear_filter_button" class="[ btn btn-primary btn-v1 btn-small ][ mr-3 mt-3 mb-3 mt-md-0 ]">Clear Filters</button>
                </div>
                <div class="d-inline-block">
                    <button id="filter_button" class="[ btn btn-success btn-v1 btn-small ][ mr-3 mt-3 mb-3 mt-md-0 ]">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
</div>
<div class="table-responsive table-v1">
    <table id="list_table" class="table table-bordered" data-data-table="true" style="width:100%">
        <thead>
        <tr>
            <th style="width: 8%">ID</th>
            <th style="width: 15%">Receipt Number</th>
            <th style="width: 15%">Reference</th>
            <th style="width: 20%">Transaction Date</th>
            <th style="width: 10%">EA</th>
            <th style="width: 15%">Type</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>